<div class="page-header">
	<h1>Pagina de CRUD</h1>

	<h3>Esta é uma pagina de teste de um CRUD com o Angular</h3>

	<div ng-controller="CrudCtrl" style="width:800px" >
		<form >
		<fieldset >
			<div  class="form-group">
				<label>ID: </label>
				{{usuario.id}}
			</div>
			<div  class="form-group">
				<label>Nome: </label>
				<input class="form-control" ng-model="usuario.nome" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Telefone: </label>
				<input class="form-control" ng-model="usuario.telefone" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Data Nascimento: </label>
				<input class="form-control" ng-model="usuario.dataNascimento" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Endereco: </label>
				<input class="form-control" ng-model="usuario.endereco" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Numero: </label>
				<input class="form-control" ng-model="usuario.numero" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Cidade: </label>
				<input class="form-control" ng-model="usuario.cidade" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Estado: </label>
				<input class="form-control" ng-model="usuario.estado" type="text"><br>
			</div>
			<div  class="form-group">				
				<label>Genero: </label>
				<input class="form-control" ng-model="usuario.genero" type="text"><br>
			</div>
			<div>				
			<div>
			<button class="btn btn-default" ng-click="salvar()">Salvar</button>
			<button class="btn" ng-click="salvarOuAtualizar()">Salvar Automatico</button>
			<button class="btn" ng-click="reset()">Limpar</button>
			<button class="btn" ng-click="listaUsuario()">Pesquisar</button>
			</div>
		</fieldset>			
		<br>
		<table border="2" >
			<tr>
				<td style="padding: 5px">ID</td>
				<td style="padding: 5px">Nome</td>
				<td style="padding: 5px">Telefone</td>
				<td style="padding: 5px">Ação</td>
			</tr>
			<tr ng-repeat="u in usuarios">
				<td style="padding: 5px">{{ u.id }}</td>
				<td style="padding: 5px">{{ u.nome }}</td>
				<td style="padding: 5px">{{ u.telefone }}</td>
				<td>
					<button ng-click="selecionar(u)">Selecionar</button>
					<button ng-click="remover(u)">Remover</button>
				</td>
			</tr>
		</table>
		</form>
	</div>

</div>