


<div ng-controller="CrudCtrl" class="panel  panel-default" >
	<div class="panel-heading">
		<h1>Aplicativo de estudo do angular e de alguns dos seus módulos</h1>
	</div>
	<div class="panel-body">
		<img src="https://angularjs.org/img/AngularJS-large.png"><br>
<H1>Escopo</H1>		
	</div>

	<ul class="list-group">
		<li class="list-group-item">Angular</li>
		<li class="list-group-item">Spring MVC</li>
		<li class="list-group-item">Spring Data</li>
		<li class="list-group-item">Rest-Angular</li>
		<li class="list-group-item">Ng-table</li>
		<li class="list-group-item">Ui-route</li>
		<li class="list-group-item">Browserfy</li>
		<li class="list-group-item">Require</li>

	</ul>
</div>
