<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-autowire="byName">

	<!-- Usando um outro datasource <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName"> <value>org.postgresql.Driver</value> </property> 
		<property name="url"> <value>jdbc:postgresql://localhost:5432/carteiras</value> 
		</property> <property name="username"> <value>carteiras</value> </property> 
		<property name="password"> <value>carteiras</value> </property> <property 
		name="maxActive"> <value>50</value> </property> <property name="maxIdle"> 
		<value>10</value> </property> <property name="maxWait"> <value>10</value> 
		</property> <property name="removeAbandoned"> <value>true</value> </property> 
		<property name="removeAbandonedTimeout"> <value>60000</value> </property> 
		<property name="testOnReturn"> <value>true</value> </property> <property 
		name="testOnBorrow"> <value>true</value> </property> <property name="testWhileIdle"> 
		<value>true</value> </property> <property name="validationQuery"> <value>SELECT 
		1</value> </property> </bean> -->

	<!-- Desta forma utiliza o persistence unit -->
	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="crud-pu" />
		<!-- Se for usar um datasource -->
		<!-- <property name="dataSource" ref="dataSource"/> -->
		<!-- <property name="jpaVendorAdapter"> -->
		<!-- <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> -->
		<!-- <property name="showSql" value="true" /> -->
		<!-- <property name="generateDdl" value="false" /> -->
		<!-- <property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
			/> -->
		<!-- </bean> -->
		<!-- </property> -->
	</bean>

	<!-- Reconhecer as anotações -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Em um container JEE -->
	<bean name="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<jpa:repositories base-package="crud.repositorio"
		transaction-manager-ref="txManager" />
	<!-- Sem ser em um container JEE <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource"/> </bean> -->

	<!-- <tx:advice id="txAdvice" transaction-manager="txManager"> -->
	<!-- <tx:attributes> -->
	<!-- <tx:method name="save*" propagation="REQUIRED" /> -->
	<!-- <tx:method name="update*" propagation="REQUIRED" /> -->
	<!-- <tx:method name="delete*" propagation="REQUIRED" /> -->
	<!-- <tx:method name="find" propagation="REQUIRED" /> -->
	<!-- <tx:method name="*" propagation="SUPPORTS" /> -->
	<!-- </tx:attributes> -->
	<!-- </tx:advice> -->
	<!-- <aop:config> -->
	<!-- <aop:pointcut id="defaultServiceOperation" expression="execution(* 
		br.gov.saude.sisprenatal.service..*Service.*(..))" /> -->
	<!-- <aop:advisor order="2" pointcut-ref="defaultServiceOperation" advice-ref="txAdvice" 
		/> -->
	<!-- </aop:config> -->
</beans>